@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

* {
  font-family: "Roboto", "Bebas Neue";
}
body {
  margin: 0px;
}
h1 {
  color: #ffffff;
}
:root {
  --large-font-size-35: 35px;
  --medium-font-size-25: 25px;
  --small-font-size-16: 16px;
  --very-small-font-size-14: 14px;
  --main-bg-color: #201d27;
  --white-color: #ffffff;
  --light-grey-color: #dddddd;
  --green-color: #29a643;
  --light-green-color: #b1ffc2;
  --red-color: #d51820;
  --light-red-color: #ffa3a6;
  --dark-blue-color: #0b0819;
}
